@import "tailwindcss";

/* dm-sans-latin-wght-normal */
@font-face {
    font-family: "DM Sans Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-sans:vf@latest/latin-wght-normal.woff2)
        format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* general sans */
@font-face {
    font-family: "GeneralSans"; /* Name your font family */
    src: url("../GeneralSans_Complete/Fonts/TTF/GeneralSans-Variable.ttf");
    font-style: normal;
    font-display: swap; /* Improves performance by displaying fallback text while loading */
}

@theme {
    --color-drk-green: #083434;
    --color-lime-green: #b8fe22;
    --color-black: #1e2222;
    --color-gray-1: #4e5151;
    --color-gray-2: #d7dddd;
    --color-gray-3: #f5f5f5;
    --color-gray-4: #eef1e8;
    --color-transparent: red;

    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-new-lg: 62rem; /* 992px */

    --text-h2: clamp(2.25rem, 1.705vw + 1.909rem, 3rem);
    --text-h3: clamp(1.5rem, 0.893vw + 1.321rem, 1.75rem);

    --testimonial-image-size: 70px;
}

/* .nav-and-header {
    z-index: 0;
} */

nav {
    /* z-index: -3; */
}

.nav-and-header header {
    /* z-index: -5; */
}

/* selects links container */
ul:has(.nav-li-elem) {
    /* z-index: -4; */
}

@layer base {
    html,
    body {
        height: 100%;
    }

    body {
        @apply text-lg font-[DM_Sans_Variable,sans-serif] tracking-normal grid justify-items-center gap-y-16 md:gap-y-24;
    }

    main {
        @apply relative grid gap-y-16 md:gap-y-24;
    }

    :is(h1, h2, h3) {
        @apply font-[GeneralSans] font-semibold leading-tight;
    }

    h2 {
        @apply text-h2;
    }

    h3 {
        @apply text-h3;
    }

    h4.question {
        @apply text-base font-bold tracking-tight min-[480px]:text-lg;
    }
}

@layer components {
    /* styles for white and black circular icons with an arrow in the middle */
    .arrow-with-circle {
        @apply grid place-items-center rounded-[50%] size-12;
    }

    svg.arrow-icon {
        @apply transition ease-out -rotate-45 duration-750 size-8;
    }

    /* !styles for white link button with a dark green arrow */
    a.transparent-link-with-arrow {
        @apply flex items-start h-full font-medium w-fit;
    }

    span.transparent-link-text {
        @apply flex items-center px-6 py-3 text-base border rounded-full;
    }

    .transparent-link-with-arrow span.drk-green-circle-with-arrow {
        @apply rounded-[50%] bg-drk-green size-12.5 flex;
    }

    /* !pages dropdown icon */
    .pages-dropdown-icon {
        @apply ml-0.5 mt-0.5 fill-drk-green;
    }

    /* !styles for li elements containing anchor tags in the nav bar */
    .nav-li-elem {
        @apply px-3 py-1 text-lg font-medium text-drk-green lg:text-xl;
    }

    /*!styles for anchor tags in the navbar  */
    .nav-anchor-elem,
    .pages-dropdown-anchor-elem {
        /* When the user hovers over the anchor element, create an after pseudo-element and give it a position absolute. 
        
        Only do this when the vw is >=640px */
        @apply relative transition ease-in duration-250 md:hover:after:absolute;
    }

    .nav-anchor-elem::after,
    .pages-dropdown-anchor-elem::after {
        @apply left-0 w-full h-1 -bottom-2 bg-lime-green;
    }

    /* !styles for the unordered list in the navbar.
    they are applied when vw >= 1024px */
    .links-desktop-styles {
        @apply static inset-0 z-auto flex gap-2 translate-y-0 border-0;
    }

    /* !styles for the lime green link with an arrow icon */
    .lime-green-link {
        @apply flex h-12 text-xl font-medium;
    }

    .lime-green-link > span.lime-btn {
        @apply flex items-center px-6 py-4 text-base rounded-full bg-lime-green;
    }

    /* !styles for service cards (found on homepage, contact us page)  */

    .service-card {
        @apply content-between rounded-2xl;
    }

    .service-card-text-cont {
        @apply p-5 md:p-7.5 h-[50%] lg:h-[40%];
    }

    .service-card-text-cont h3 {
        @apply lg:text-2xl xl:xl:text-3xl;
    }

    .service-card-text-cont p {
        @apply mt-4 text-drk-green lg:text-xl;
    }

    /* div containing image and icon */
    .service-card-bottom-cont {
        /* w-[455px] h-[341px] */
        @apply relative h-[50%] lg:lg:h-[60%] overflow-hidden rounded-2xl;
    }

    /* applies the same transition the image and icon in the card*/
    img,
    span.service-card-circle-with-arrow,
    svg.card-arrow-icon {
        @apply transition ease-in duration-750;
    }

    .service-card-img {
        @apply object-cover size-full;
    }

    .service-card-circle-with-arrow {
        @apply absolute bg-white bottom-5 right-5;
    }

    .service-card-bottom-cont svg.card-arrow-icon {
        @apply -rotate-45;
    }

    /* !styles for list of certifications found on the home-page */
    .certifications-list {
        @apply flex flex-col gap-3;
    }

    .certifications-list > li {
        @apply before:size-5 flex gap-2 items-center before:content-[url('https://cdn.prod.website-files.com/6687b74737730a710569f0d2/67568843be9cf509138f3cb2_about-split-icon.svg')];
    }

    .social-link {
        @apply grid rounded-lg place-items-center;
    }

    .homepage-social-links a.social-link {
        @apply p-1 bg-lime-green;
    }

    .about-page-social-links .social-link {
        @apply bg-white size-10;
    }

    a.social-link img {
        @apply size-5;
    }

    .packages-cont {
        @apply grid justify-between w-full grid-cols-1 gap-8 mt-10 md:grid-cols-2 lg:grid-cols-3;
    }

    /* base styles for shaded portion of the packages */
    /* package-cont-upper sets padding to 0 */
    .package-shaded-portion,
    .package-cont-upper {
        @apply grid p-5 rounded-4xl gap-y-4 lg:p-12 lg:gap-y-6;
    }

    .package-heading {
        @apply font-extrabold;
    }

    .rate {
        @apply flex items-center text-2xl font-semibold font-[GeneralSans] gap-1;
    }

    .rate > span {
        @apply text-[40px] font-[650];
    }

    hr.package-cont-hr {
        @apply mt-8 text-gray-400;
    }

    /* found only on packages.html */
    .package-cont {
        @apply grid  rounded-4xl p-7.5 gap-y-20;
    }

    .package-cta {
        @apply grid items-center py-3 text-center transition duration-500 border rounded-full lg:mt-3;
    }

    .packages-ul {
        @apply grid gap-2 mt-8;
    }

    .packages-list-heading {
        @apply text-gray-1;
    }

    .packages-ul li {
        @apply flex gap-2 before:relative;
    }

    .packages-ul.dark-text > li {
        @apply before:content-[url('https://cdn.prod.website-files.com/6687b74737730a710569f0d2/6757d5be29a031098cf7868d_pricing-arrow.svg')];
    }

    .packages-ul.white-text > li {
        @apply before:content-[url('https://cdn.prod.website-files.com/6687b74737730a710569f0d2/67582898d3bbcf24caf3ff1b_pricing-arrow-light.svg')];
    }

    /* !styles for package benefits */
    .package-benefit {
        @apply grid gap-y-2;
    }

    /* styles for the packages section */
    .package-icon-bg {
        @apply size-17.5 bg-white rounded-full grid place-items-center;
    }

    /* styles for FAQ section */

    .faq-check > svg.faq-plus-icon {
        @apply peer-checked:rotate-45 transition-[rotate] duration-500 size-7;
    }

    p.answer {
        @apply w-[inherit] pt-4 text-gray-1;
    }

    div.question-and-answer {
        @apply p-5 rounded-2xl bg-gray-3;
    }

    .packages-benefits-header {
        @apply text-2xl font-semibold font-[GeneralSans];
    }

    /* components in the statistics */

    .statistic-cont .statistic-num {
        @apply text-[3.25rem] md:text-[4rem] font-semibold text-drk-green font-[GeneralSans];
    }

    .statistic-num > span {
        @apply text-lime-green;
    }

    /* certification img */
    .cert-img {
        @apply object-cover grid-cols-2 border;
    }

    /* privacy policy components */

    .privacy-section {
        @apply grid gap-y-10 text-gray-1;
    }

    .privacy-section h2 {
        @apply text-2xl text-black lg:text-3xl;
    }

    .privacy-section ul,
    .privacy-section ol {
        @apply grid gap-y-1.5 pl-4;
    }

    .header-with-green-h1 {
        @apply grid place-items-center bg-drk-green py-15 px-7 rounded-[20px] md:p-15 xl:p-25;
    }

    .header-with-green-h1 h1 {
        @apply text-[2.5rem] md:text-[3.5rem] lg:text-6xl text-lime-green;
    }

    .classes-grid {
        @apply grid gap-7.5 md:grid-cols-2 lg:grid-cols-3;
    }

    .classes-grid .service-card-text-cont,
    .classes-grid .service-card-bottom-cont {
        @apply h-fit;
    }

    /* ! grid of blog links */

    .blog-links-grid {
        @apply grid gap-10 md:grid-cols-2;
    }

    .blog-link-text {
        @apply grid mt-4 gap-y-1;
    }

    .blog-date {
        @apply text-xl text-drk-green;
    }

    .blog-title {
        @apply font-semibold font-[GeneralSans] text-2xl mt-1;
    }

    .blog-link img {
        @apply rounded-4xl;
    }

    /* pagination control on blog page */
    .pagination-control {
        @apply flex justify-center w-[min(910px,100%)] mx-auto;
    }

    .text-and-btn {
        @apply flex flex-col w-full gap-4 md:flex-row md:w-fit md:items-center md:gap-8;
    }

    .pagination-btn {
        @apply flex items-center justify-center w-full gap-1 px-6 py-3 transition duration-300 ease-in-out rounded-full text-drk-green bg-lime-green md:w-100 hover:bg-black hover:text-lime-green;
    }

    /* footer styles */

    footer {
        @apply w-full pb-10 text-white pt-25 bg-drk-green;
    }

    .footer-links {
        @apply grid mt-5 gap-y-4;
    }

    .footer-subheading {
        @apply text-2xl font-semibold;
    }

    .footer-link {
        @apply text-xl font-light hover:text-lime-green md:text-lg lg:text-xl;
    }

    .footer-input {
        @apply w-full py-2 text-base border-b-[0.5px] border-gray-1;
    }

    .footer-input::placeholder {
        @apply font-light text-white;
    }
}

@layer utilities {
    .wrapper {
        width: clamp(290px, 90%, 1360px);
    }

    .flex-center {
        @apply flex items-center justify-center;
    }
}
