@import "tailwindcss";

/* dm-sans-latin-wght-normal */
@font-face {
    font-family: "DM Sans Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-sans:vf@latest/latin-wght-normal.woff2)
        format("woff2-variations");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
}

/* general sans */
@font-face {
    font-family: "GeneralSans"; /* Name your font family */
    src: url("../GeneralSans_Complete/Fonts/TTF/GeneralSans-Variable.ttf");
    font-style: normal;
    font-display: swap; /* Improves performance by displaying fallback text while loading */
}

@theme {
    --color-drk-green: #083434;
    --color-lime-green: #b8fe22;
    --color-black: #1e2222;
    --color-gray-1: #4e5151;
    --color-gray-2: #d7dddd;
    --color-gray-3: #f5f5f5;
    --color-gray-4: #eef1e8;
    --color-transparent: red;

    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-new-lg: 62rem; /* 992px */

    --text-h2: clamp(2.25rem, 1.705vw + 1.909rem, 3rem);
    --text-h3: clamp(1.5rem, 0.893vw + 1.321rem, 1.75rem);

    --testimonial-image-size: 70px;
}

nav {
    z-index: 3;
}

/* selects links container */
ul:has(.nav-li-elem) {
    z-index: 2;
}

div:has(header) {
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .desktop-hero-bg {
        background-image:
            url("https://cdn.prod.website-files.com/6687b74737730a710569f0d2/675a91f8ec27dd88d93806de_bg-hero-pattern.avif"),
            linear-gradient(
                100deg,
                var(--color-drk-green),
                var(--color-drk-green),
                transparent
            ),
            url("https://cdn.prod.website-files.com/6687b74737730a710569f0d2/67541edce848d98aa31289bb_bc0f30c5d0f4115ed9724983d546ec13_hero-image.avif");
    }
}

@layer base {
    html,
    body {
        height: 100%;
    }

    body {
        @apply text-lg font-[DM_Sans_Variable,sans-serif] tracking-normal grid justify-items-center gap-y-16 md:gap-y-24;
    }

    main {
        @apply relative grid gap-y-16 md:gap-y-24;
    }

    :is(h1, h2, h3) {
        @apply font-[GeneralSans] font-semibold leading-tight;
    }

    h2 {
        @apply text-h2;
    }

    h3 {
        @apply text-h3;
    }

    h4.question {
        @apply text-base font-bold tracking-tight min-[480px]:text-lg;
    }
}

@layer components {
    /* !navbar styles */
    nav {
        @apply flex items-center justify-between w-full relative py-7.5 bg-white;
    }

    .nav-logo {
        @apply w-[32.5] h-10 md:w-43.75 md:h-12.5;
    }

    ul.desktop-nav-links {
        @apply hidden lg:flex;
    }

    /* cont */
    .nav-right-buttons {
        @apply flex items-center gap-7;
    }

    .hamburger-btn {
        @apply lg:hidden flex items-center justify-center bg-lime-green size-11 rounded-[50%] md:size-12.5 cursor-pointer has-checked:bg-drk-green;
    }

    .hamburger-btn-icon {
        @apply size-6 md:size-7 peer-checked:fill-white;
    }

    ul.mobile-nav-links {
        @apply border-[1.3px] bg-gray-4 rounded-lg py-2 absolute -translate-y-[150%] transition duration-500 ease-in-out md:rounded-xl md:-translate-y-[170%];
    }

    ul.mobile-nav-links:has(~ .header-with-green-h1) {
        @apply min-h-42.5;
    }

    /* styles for li elements containing anchor tags in the nav bar */
    .nav-li-elem {
        @apply px-3 pt-2 text-lg font-medium text-drk-green;
    }

    summary.pages-link-text-and-button {
        @apply flex items-center justify-between list-none;
    }

    /* pages dropdown icon */
    .pages-dropdown-icon {
        @apply ml-0.5 mt-0.5 fill-drk-green;
    }

    .pages-dropdown-mobile {
        @apply border rounded-md my-3 py-2 [&>li]:px-2 [&>li]:py-1 left-0 top-0 lg:top-10 lg:bg-gray-4 lg:w-50 lg:my-0 right-0;
    }

    .pages-dropdown-desktop {
        @apply border rounded-md py-2 [&>li]:px-2 [&>li]:py-1 left-0 top-0 lg:absolute lg:top-10 lg:ml-1 lg:rounded-[10px] lg:bg-gray-4 lg:w-50;
    }

    /* styles for the lime green link with an arrow icon */
    .lime-green-link {
        @apply flex h-12 text-xl font-medium;
    }

    .lime-green-link > span.lime-btn {
        @apply flex items-center px-6 py-4 text-base rounded-full bg-lime-green;
    }

    /* styles for white and black circular icons with an arrow in the middle */
    .arrow-with-circle {
        @apply grid place-items-center rounded-[50%] size-12;
    }

    svg.arrow-icon {
        @apply transition ease-out -rotate-45 duration-750 size-8;
    }

    /* !styles for white link button with a dark green arrow */
    a.transparent-link-with-arrow {
        @apply flex items-start h-full font-medium w-fit;
    }

    span.transparent-link-text {
        @apply flex items-center px-6 py-3 text-base border rounded-full;
    }

    .transparent-link-with-arrow span.drk-green-circle-with-arrow {
        @apply rounded-[50%] bg-drk-green size-12.5 flex;
    }

    /* !styles for service cards (found on homepage, contact us page)  */

    /* flex not needed, it's already on the cards */
    .service-card {
        @apply flex-col justify-between rounded-2xl;
    }

    .homepage.service-card {
        @apply lg:w-[33%] md:w-[50%];
    }

    .service-card-text-cont {
        @apply p-5 md:p-7.5 h-[40%];
    }

    .service-card-text-cont h3 {
        @apply text-2xl lg:text-[22px] xl:text-3xl;
    }

    .service-card-text-cont p {
        @apply mt-4 text-drk-green lg:text-[17px] xl:text-xl;
    }

    /* div containing image and icon */
    .service-card-bottom-cont {
        /* w-[455px] h-[341px] */
        @apply relative lg:h-[55%] overflow-hidden rounded-2xl;
    }

    /* applies the same transition the image and icon in the card*/
    img,
    span.service-card-circle-with-arrow,
    svg.card-arrow-icon {
        @apply transition ease-in duration-750;
    }

    .service-card-img {
        @apply object-cover size-full;
    }

    .service-card-circle-with-arrow {
        @apply absolute bg-white bottom-5 right-5;
    }

    .service-card-bottom-cont svg.card-arrow-icon {
        @apply -rotate-45;
    }

    /* !styles for list of certifications found on the home-page */
    .certifications-list {
        @apply flex flex-col gap-3;
    }

    .certifications-list > li {
        @apply before:size-5 flex gap-2 items-center before:content-[url('https://cdn.prod.website-files.com/6687b74737730a710569f0d2/67568843be9cf509138f3cb2_about-split-icon.svg')];
    }

    /* !social links code  */
    .social-links {
        @apply flex gap-4;
    }

    .social-link {
        @apply grid rounded-lg place-items-center;
    }

    .homepage-social-links a.social-link {
        @apply p-1 bg-lime-green;
    }

    .white-social-links .social-link {
        @apply bg-white size-10;
    }

    a.social-link img {
        @apply size-5;
    }

    .packages-cont {
        @apply grid justify-between w-full grid-cols-1 gap-8 mt-10 md:grid-cols-2 lg:grid-cols-3;
    }

    /* base styles for shaded portion of the packages */
    /* package-cont-upper sets padding to 0 */
    .package-shaded-portion,
    .package-cont-upper {
        @apply grid p-5 rounded-4xl gap-y-4 lg:p-12 lg:gap-y-6;
    }

    .package-heading {
        @apply text-base font-extrabold;
    }

    .rate {
        @apply flex items-center text-2xl font-semibold font-[GeneralSans] gap-1;
    }

    .rate > span {
        @apply text-[40px] font-[650];
    }

    hr.package-cont-hr {
        @apply mt-8 text-gray-400;
    }

    /* found only on packages.html */
    .package-cont {
        @apply grid content-between rounded-4xl p-7.5 min-h-200;
    }

    .package-cta {
        @apply grid items-center text-center transition duration-500 border rounded-full h-13;
    }

    .packages-ul {
        @apply grid gap-2 mt-8;
    }

    .packages-list-heading {
        @apply text-gray-1;
    }

    .packages-ul li {
        @apply flex gap-2 before:relative;
    }

    .packages-ul.dark-text > li {
        @apply before:content-[url('https://cdn.prod.website-files.com/6687b74737730a710569f0d2/6757d5be29a031098cf7868d_pricing-arrow.svg')];
    }

    .packages-ul.white-text > li {
        @apply before:content-[url('https://cdn.prod.website-files.com/6687b74737730a710569f0d2/67582898d3bbcf24caf3ff1b_pricing-arrow-light.svg')];
    }

    /* !styles for package benefits */
    .package-benefit {
        @apply grid gap-y-2;
    }

    /* styles for the packages section */
    .package-icon-bg {
        @apply size-17.5 bg-white rounded-full grid place-items-center;
    }

    /* styles for FAQ section */

    .faq-cont {
        @apply grid w-full mt-7 gap-y-5;
    }

    .faq-check > svg.faq-plus-icon {
        @apply peer-checked:rotate-45 transition-[rotate] duration-500 size-7;
    }

    p.answer {
        @apply w-[inherit] pt-4 text-gray-1;
    }

    div.question-and-answer {
        @apply p-5 rounded-2xl bg-gray-3;
    }

    .packages-benefits-header {
        @apply text-2xl font-semibold font-[GeneralSans];
    }

    /* components in the statistics */

    .statistic-cont .statistic-num {
        @apply text-[3.25rem] md:text-[4rem] font-semibold text-drk-green font-[GeneralSans];
    }

    .statistic-num > span {
        @apply text-lime-green;
    }

    /* certification img */
    .cert-img {
        @apply object-cover grid-cols-2 border;
    }

    /* privacy policy components */

    .privacy-section {
        @apply grid gap-y-10 text-gray-1;
    }

    .privacy-section h2 {
        @apply text-2xl text-black lg:text-3xl;
    }

    .privacy-section ul,
    .privacy-section ol {
        @apply grid gap-y-1.5 pl-4;
    }

    .header-with-green-h1 {
        @apply grid place-items-center bg-drk-green py-15 px-7 rounded-[20px] md:p-15 xl:p-25;
    }

    .header-with-green-h1 h1 {
        @apply text-[2.5rem] md:text-[3.5rem] lg:text-6xl text-lime-green;
    }

    .classes-grid {
        @apply grid gap-7.5 md:grid-cols-2 lg:grid-cols-3;
    }

    .classes-grid .service-card-text-cont,
    .classes-grid .service-card-bottom-cont {
        @apply h-fit;
    }

    /* ! grid of blog links */

    .blog-links-grid {
        @apply grid gap-10 md:grid-cols-2;
    }

    .blog-link-text {
        @apply grid mt-4 gap-y-1;
    }

    .blog-date {
        @apply text-xl text-drk-green;
    }

    .blog-title {
        @apply font-semibold font-[GeneralSans] text-2xl mt-1;
    }

    .blog-link img {
        @apply rounded-4xl;
    }

    /* pagination control on blog page */
    .pagination-control {
        @apply flex justify-center w-[min(910px,100%)] mx-auto;
    }

    .text-and-btn {
        @apply flex flex-col w-full gap-4 md:flex-row md:w-fit md:items-center md:gap-8;
    }

    .pagination-btn {
        @apply flex items-center justify-center w-full gap-1 px-6 py-3 transition duration-300 ease-in-out rounded-full text-drk-green bg-lime-green md:w-100 hover:bg-black hover:text-lime-green;
    }

    /* !contact us grid styles */

    .contact-grid-item {
        @apply grid gap-y-15 p-7.5 rounded-4xl md:p-12;
    }

    .contact-grid-item address {
        @apply not-italic;
    }

    .contact-grid-item-bottom {
        @apply grid gap-y-5;
    }

    .contact-grid-item-bottom > h6 {
        @apply text-gray-1;
    }

    /* !footer styles */

    footer {
        @apply w-full pb-10 text-white pt-25 bg-drk-green;
    }

    .footer-links {
        @apply grid mt-5 gap-y-4;
    }

    .footer-subheading {
        @apply text-2xl font-semibold;
    }

    .footer-link {
        @apply text-xl font-light hover:text-lime-green md:text-lg lg:text-xl;
    }

    .footer-input {
        @apply w-full py-2 text-base border-b-[0.5px] border-gray-1;
    }

    .footer-input::placeholder {
        @apply font-light text-white;
    }
}

@layer utilities {
    .wrapper {
        width: clamp(290px, 90%, 1360px);
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    /* When the user hovers over the anchor element, create an after pseudo-element and give it a position absolute */
    .green-underline {
        @apply relative transition ease-in duration-250 md:hover:after:absolute;
    }

    /* adds a green underline under the link's name on hover */
    .green-underline::after {
        @apply left-0 w-full h-1 -bottom-2 bg-lime-green;
    }
}
