@import "tailwindcss";

/* dm-sans-latin-wght-normal */
@font-face {
	font-family: "DM Sans Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 1000;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-sans:vf@latest/latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* general sans */
@font-face {
	font-family: "GeneralSans"; /* Name your font family */
	src: url("../GeneralSans_Complete/Fonts/TTF/GeneralSans-Variable.ttf");
	font-style: normal;
	font-display: swap; /* Improves performance by displaying fallback text while loading */
}

.material-symbols-outlined {
	font-variation-settings:
		"FILL" 0,
		"wght" 400,
		"GRAD" 0,
		"opsz" 24;
}

@theme {
	--color-drk-green: #083434;
	--color-lime-green: #b8fe22;
	--color-black: #1e2222;
	--color-gray-1: #4e5151;
	--color-gray-2: #d7dddd;
	--color-gray-3: #f5f5f5;
	--color-gray-4: #eef1e8;
	--color-transparent: red;

	--breakpoint-xs: 30rem; /* 480px */
	--breakpoint-new-lg: 62rem; /* 992px */

	--text-h1: clamp(2.625rem, 8.909vw + 0.843rem, 5.125rem);
	--text-h2: clamp(2.25rem, 1.705vw + 1.909rem, 3rem);
	--text-h3: clamp(1.5rem, 0.893vw + 1.321rem, 1.75rem);
}

@layer base {
	html,
	body {
		height: 100%;
	}

	body {
		font-size: 18px;
		font-family: "DM Sans Variable", sans-serif;
	}
}

@layer components {
	:is(h1, h2, h3) {
		@apply font-[GeneralSans] font-semibold leading-tight;
	}

	h1 {
		@apply text-h1;
	}

	h2 {
		@apply text-h2;
	}

	h3 {
		@apply text-h3;
	}
}

@layer utilities {
	.wrapper {
		width: clamp(290px, 90%, 1360px);
	}

	.flex-center {
		@apply flex items-center justify-center;
	}

	.nav-li-elem {
		@apply px-3 py-1 text-lg font-medium text-drk-green lg:text-xl;
	}

	.nav-anchor-elem,
	.pages-dropdown-anchor-elem {
		/* When the user hovers over the anchor element, create an after pseudo-element and give it a position absolute. 
        
        Only do this when the vw is >=640px */
		@apply relative transition ease-in duration-250 md:hover:after:absolute;
	}

	.nav-anchor-elem::after,
	.pages-dropdown-anchor-elem::after {
		@apply left-0 w-full h-1 -bottom-2 bg-lime-green;
	}

	/* styles for the unordered list in the navbar.
    they are applied when vw >= 1024px */

	/* figure out how to apply this */
	.links-desktop-styles {
		@apply static inset-0 z-auto flex gap-2 translate-y-0 border-0;
	}

	/* styles for the lime green link */
	.link-with-arrow-icon {
		@apply flex h-12 text-xl font-medium;
	}

	.link-with-arrow-icon > span.lime-btn {
		@apply flex items-center px-6 py-4 rounded-full text-base bg-lime-green;
	}

	.link-with-arrow-icon > span.btn-with-arrow {
		@apply rounded-[50%] size-12 flex;
	}

	/* style for the arrow icon  */
	span.btn-with-arrow > svg {
		@apply transition ease-out -rotate-45 duration-750;
	}

	.certifications-list {
		@apply flex flex-col gap-3;
	}

	.certifications-list > li {
		@apply before:size-5 flex gap-2 items-center before:content-[url('https://cdn.prod.website-files.com/6687b74737730a710569f0d2/67568843be9cf509138f3cb2_about-split-icon.svg')];
	}
}
